:root {
  --btn-border-size: 2px;
  --very-light-orange: #facbaf;
  --light-orange: #f7ac7f;
  --medium-orange: #f08d54;
  --dark-orange: #f25c05;
  --very-dark-orange: #f25c05;
  --dark-blue: #083540;
  --medium-blue: #395d66;
  --light-blue: #607d84;
  --very-light-blue: #cfd8da;
  --header-height: 15vh;
  --max-width: 1150px;
}

:root/* [data-theme='theme-dark'] */ {
  --primary-text-color: #f2f2f2;
  --secondary-text-color: #000;
  --primary-background-color: #083540;
  --secondary-background-color: #031519;
  --primary-accent-color: #f25c05;
  --secondary-accent-color: #f08d54;
  --primary-color: #f25c05;
  --secondary-color: #f24405;
  --very-dark-color: #131626;
  --dark-color: #083540;
  --light-color: #cabdb6;
  --medium-color: #333;
}
/* :root[data-theme='theme-light'] {
  --primary-text-color: #000;
  --secondary-text-color: #f7f7f7;
  --primary-background-color: #d9e8f5;
  --secondary-background-color: #91bed4;
  --primary-accent-color: #f25c05;
  --primary-accent-color: #f08d54;
  --secondary-accent-color: #f08d54;
  --primary-color: #4399a9;
  --secondary-color: #6393a2;
  --very-dark-color: #fcfdff;
  --dark-color: #73c9d6;
  --light-color: #282d26;
  --light-color: #083540;
  --light-color: #304269;
  --medium-color: #cecece;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: background 0.5s;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  position: relative;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#root {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--primary-color);

  &:hover {
    color: var(--secondary-color);
  }
}

.bolder {
  font-weight: bolder;
}

.small-heading {
  font-size: 1.4rem;
  font-weight: bold;
}

.section-heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

.page-heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

.card-heading {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

.secondary {
  color: var(--secondary-text-color);
}

.math {
  font-family: serif;
  font-style: italic;
}

.max-width {
  max-width: var(--max-width);
}

input {
  font-size: 1.1rem;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  resize: none;
}

/**
Utils

**/

.container {
  max-width: var(--max-width);
  padding: 0 2rem;
  margin: 0 auto;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  background: var(--secondary-text-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.2s;

  &:hover {
    color: var(--primary-text-color);
  }

  &.btn-light {
    background: var(--light-orange);
    color: var(--secondary-text-color);

    &:hover {
      background: var(--medium-orange);
    }
  }

  &.btn-inverse {
    background: var(--secondary-text-color);
    color: var(--primary-text-color);
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &.btn-border-pop {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: var(--btn-border-size) solid var(--secondary-text-color);
      z-index: 1;
      border-radius: 10px;
      transition: 0.2s;
    }

    &:hover::after {
      top: calc(var(--btn-border-size) * -2);
      left: calc(var(--btn-border-size) * -2);
      right: calc(var(--btn-border-size) * -2);
      bottom: calc(var(--btn-border-size) * -2);
    }
  }

  &.btn-arrow:hover {
    padding-right: 1.7rem;
    transition: 0.3s;
  }

  span {
    display: inline-block;
    position: absolute;
    transform: translate(-3px, 4px);
    transition: 0.2s 0.1s;
    opacity: 0;
  }
  &:hover span {
    transform: translate(5px, 4px);
    opacity: 1;
  }
}

.highlight-box {
  background: var(--medium-blue);
  border: 2px solid var(--light-blue);
  padding: 1rem;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 1rem;
}
/* Utils end
*
*
*
*/

#page-content {
  p {
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.2rem;
  }
}

ul {
  list-style: none;
}

/* Main Page Header */

header.main-header {
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--secondary-background-color);
  width: 100%;
  height: var(--header-height);
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .logo {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    .logo-img {
      height: 11vh;
      margin-right: 0.5rem;
    }
    h1 {
      color: var(--primary-accent-color);
      margin: 0;
    }
  }

  nav.main-nav {
    .hamburger-react {
      position: relative;
      display: none;
      z-index: 3;
    }

    ul {
      display: flex;

      li {
        margin-left: 2rem;

        .change-theme {
          margin-top: 0.3rem;
          cursor: pointer;
        }

        a {
          font-size: 1.3rem;
          color: var(--primary-text-color);
          border-radius: 5px;
          padding: 0.3rem 0.9rem;
          transition: 0.2s;

          &:hover {
            background-color: var(--medium-color);
          }

          &.active {
            color: var(--primary-color);
            background-color: var(--medium-color);
          }
        }
      }
    }
  }
}

/* Homepage 


*/
.parallax-img {
  background: url('../img/blackboard.jpg') no-repeat center/cover fixed;
  min-height: 85vh;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-text-color);
    opacity: 0.7;
  }

  .parallax-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      max-width: 60%;
    }
  }
}

.new-topics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--medium-blue);
  padding: 2rem;
  padding-top: 1rem;

  .quick-links {
    display: flex;
    justify-content: space-around;

    .new-topic {
      max-width: 450px;
      width: 100%;
      text-align: center;
      padding: 1rem;

      &:nth-child(odd) {
        background: var(--medium-orange);
      }

      &:nth-child(even) {
        background: var(--light-orange);
      }
    }
  }
}

/* Footer

*/

.main-footer {
  background: var(--secondary-background-color);
  margin-top: auto;
  padding: 1.5rem 0;

  p {
    text-align: center;
    margin: 0;
  }
}

/* 
Study Page
*/

.study-container {
  padding-top: 1.5rem;

  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }

  .card {
    background: var(--medium-orange);
    color: var(--secondary-text-color);
    padding: 1rem;
    height: 17rem;
    border-radius: 15px;
    box-shadow: 3px 5px 10px #262626;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;

    .card-icon {
      font-size: 3.5rem;
      height: 100%;
      align-self: center;
      justify-self: center;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 55px;
      }
    }

    p.card-heading {
      margin: 0 !important;
      text-align: center;
      a {
        color: var(--secondary-text-color);
      }
    }

    &:hover {
      transform: translateY(-4px);
    }
  }

  .card-inverse {
    background: var(--primary-accent-color);
    color: var(--primary-text-color);
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid var(--medium-color);
  }
}

/* Contact Page */
#contact-page {
  margin: 1rem 0;
  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    label {
      margin-bottom: 0.7rem;
      font-size: 1.2rem;
    }

    textarea {
      height: 200px;
      max-height: 200px;
    }

    input.contact-input {
      height: 2rem;
    }
    .contact-input {
      width: 100%;
      max-width: 600px;
      margin-bottom: 1rem;
      border: 1.5px solid var(--light-blue);
      border-radius: 3px;
      padding: 0.5rem;
      background: var(--very-light-blue);

      &:focus {
        outline: 2px solid var(--light-blue);
      }
    }

    button {
      font-size: 1.1rem;
    }
  }
}

/* Canvas Pages */

.react-p5 {
  display: flex;
  justify-content: space-between;

  canvas {
    width: 70% !important;
    height: 100% !important;
    margin-bottom: 1rem;
  }

  .sketch-control {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    margin-left: 1rem;
    & > * {
      margin: 0.5rem;
    }

    button {
      background: var(--dark-blue);
      font-size: 1.1rem;
      border-radius: 5px;
      border: 1.5px solid var(--dark-blue);

      &:hover {
        background: var(--light-blue);
      }
    }

    .sketch-input-container {
      margin-bottom: 1rem;

      input[type='range'] {
        -webkit-appearance: none;
        width: 100%;
        background: transparent;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
        }

        &:focus {
          outline: none;
        }

        &::-ms-track {
          width: 100%;
          cursor: pointer;

          /* Hides the slider so custom styles can be added */
          background: transparent;
          border-color: transparent;
          color: transparent;
        }

        &::-webkit-slider-thumb {
          margin-top: -7px;
          box-shadow: 1px 1px 3px #000000;
          border: 1px solid #000000;
          height: 20px;
          width: 10px;
          border-radius: 2rem;
          background: #ffffff;
          cursor: pointer;
        }

        &::-moz-range-thumb {
          box-shadow: 1px 1px 1px #000000;
          border: 1px solid #000000;
          height: 20px;
          width: 10px;
          border-radius: 2rem;
          background: #ffffff;
          cursor: pointer;
        }

        &::-ms-thumb {
          box-shadow: 1px 1px 1px #000000;
          border: 1px solid #000000;
          height: 20px;
          width: 10px;
          border-radius: 2rem;
          background: #ffffff;
          cursor: pointer;
        }

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          background: var(--light-orange);
          border-radius: 2rem;
          border: 1px solid #010101;
        }

        &:focus::-webkit-slider-runnable-track {
          background: var(--medium-orange);
        }

        &::-moz-range-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          background: var(--light-orange);
          border-radius: 2rem;
          border: 1px solid #010101;
        }

        &::-ms-track {
          width: 100%;
          height: 8.4px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          border-width: 16px 0;
          color: transparent;
        }
        &::-ms-fill-lower {
          background: var(--very-light-orange);
          border: 1px solid #010101;
          border-radius: 2rem;
        }
        &:focus::-ms-fill-lower {
          background: var(--light-orange);
        }
        &::-ms-fill-upper {
          background: var(--light-orange);
          border: 1px solid #010101;
          border-radius: 2rem;
        }
        &:focus::-ms-fill-upper {
          background: var(--medium-orange);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  /* main navigation mobile */
  nav.main-nav {
    .hamburger-react {
      display: inline-block !important;
    }

    ul {
      height: 100vh;
      flex-direction: column;
      background-color: var(--secondary-background-color);
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      padding: 2.5rem;
      padding-top: var(--header-height);
      padding-bottom: var(--header-height);
      align-items: center;
      justify-content: space-between;

      clip-path: circle(10% at 100% 0%);
      transition: clip-path 0.5s;
      box-shadow: 3px 0 10px #555;

      &.is-active {
        clip-path: circle(150% at 100% 0);
      }

      li {
        margin: 0 !important;

        .change-theme {
          margin-top: 0.3rem;
          cursor: pointer;
        }

        a {
          font-size: 1.3rem;
          color: var(--primary-text-color);
          border-radius: 5px;
          padding: 0.3rem 0.9rem;
          transition: 0.2s;

          &:hover {
            background-color: var(--medium-color);
          }

          &.active {
            color: var(--primary-color);
            background-color: var(--medium-color);
          }
        }
      }
    }
  }

  .parallax-img .parallax-container {
    p {
      max-width: 80%;
    }
  }

  .study-container {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 900px) {
  .react-p5 {
    flex-direction: column;
    canvas {
      width: 100% !important;
    }
    .sketch-control {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      margin-left: 0;
    }
  }

  .new-topics-section {
    .quick-links {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .study-container {
    .card-grid {
      grid-template-columns: 1fr;
    }
  }

  .parallax-img .parallax-container {
    p {
      max-width: 100%;
    }
  }
}

@media (max-height: 500px) {
  :root {
    --header-height: 18vh;
  }

  .logo .logo-img {
    height: 14vh !important;
  }
}
