:root {
  --btn-border-size: 2px;
  --dark-orange: #f25c05;
}

:root[data-theme='theme-dark'] {
  --primary-text-color: #f2f2f2;
  --secondary-text-color: #000;
  --primary-background-color: #083540;
  --secondary-background-color: #131626;
  --primary-accent-color: #f25c05;
  --secondary-accent-color: #f08d54;
  --primary-color: #f25c05;
  --secondary-color: #f24405;
  --very-dark-color: #131626;
  --dark-color: #083540;
  --light-color: #cabdb6;
  --medium-color: #333;
}
:root[data-theme='theme-light'] {
  --primary-text-color: #000;
  --secondary-text-color: #f7f7f7;
  --primary-background-color: #d9e8f5;
  --secondary-background-color: #91bed4;
  --primary-accent-color: #f25c05;
  --primary-accent-color: #f08d54;
  --secondary-accent-color: #f08d54;
  --primary-color: #4399a9;
  --secondary-color: #6393a2;
  --very-dark-color: #fcfdff;
  --dark-color: #73c9d6;
  --light-color: #282d26;
  --light-color: #083540;
  --light-color: #304269;
  --medium-color: #cecece;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: background 0.5s;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  position: relative;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#root {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.1rem;

  &:hover {
    color: var(--secondary-color);
  }
}

input {
  font-size: 1.1rem;
}

textarea {
  font-size: 1.1rem;
  resize: none;
}

/**
Utils

**/

.container {
  max-width: 1150px;
  padding: 0 2rem;
  margin: 0 auto;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  background: var(--secondary-text-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 1.1rem;
  transition: 0.2s;

  &:hover {
    color: var(--primary-text-color);
  }

  &.btn-inverse {
    background: var(--secondary-text-color);
    color: var(--primary-text-color);
  }

  &.btn-block {
    display: block;
  }

  &.btn-border-pop {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: var(--btn-border-size) solid var(--secondary-text-color);
      z-index: 1;
      border-radius: 10px;
      transition: 0.2s;
    }

    &:hover::after {
      top: calc(var(--btn-border-size) * -2);
      left: calc(var(--btn-border-size) * -2);
      right: calc(var(--btn-border-size) * -2);
      bottom: calc(var(--btn-border-size) * -2);
    }
  }

  &.btn-arrow:hover {
    padding-right: 1.7rem;
    transition: 0.3s;
  }

  span {
    display: inline-block;
    position: absolute;
    transform: translate(-3px, 4px);
    transition: 0.2s 0.1s;
    opacity: 0;
  }
  &:hover span {
    transform: translate(5px, 4px);
    opacity: 1;
  }
}
/* Utils end
*
*
*
*/

#page-content {
  p {
    margin-bottom: 1rem;
  }

  a {
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.2rem;
  }
}

ul {
  list-style: none;
}

/* Main Page Header */

header.main-header {
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--secondary-background-color);
  width: 100%;
  height: 15vh;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .logo {
    color: var(--primary-accent-color);
    margin: 0;
  }

  nav.main-nav ul {
    display: flex;

    li {
      margin-left: 2rem;

      .change-theme {
        margin-top: 0.3rem;
        cursor: pointer;
      }

      a {
        font-size: 1.3rem;
        color: var(--primary-text-color);
        border-radius: 5px;
        padding: 0.3rem 0.9rem;
        transition: 0.2s;

        &:hover {
          background-color: var(--medium-color);
        }

        &.active {
          color: var(--primary-color);
          background-color: var(--medium-color);
        }
      }
    }
  }
}

/* Homepage */
.parallax-img {
  background: url('../img/blackboard.jpg') no-repeat center/cover fixed;
  height: 85vh;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-text-color);
    opacity: 0.3;
  }
}

.parallax-img .parallax-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  p {
    max-width: 50%;
  }
}

.main-footer {
  background: var(--secondary-background-color);
  margin-top: auto;
  padding: 1.5rem 0;

  p {
    text-align: center;
    margin: 0;
  }
}

/* 
Study Page
*/

.study-container {
  padding-top: 1.5rem;

  .topic-title {
    z-index: 1;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }

  .card {
    background: var(--secondary-accent-color);
    color: var(--secondary-text-color);
    padding: 1rem;
    height: 17rem;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--primary-accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;

    .card-icon {
      font-size: 3.5rem;
      height: 100%;
      align-self: center;
      justify-self: center;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    h4.card-title {
      margin: 0 !important;
      text-align: center;
      a {
        color: var(--secondary-text-color);
      }
    }

    &:hover {
      transform: translateY(-4px);
    }
  }

  .card-inverse {
    background: var(--primary-accent-color);
    color: var(--primary-text-color);
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid var(--medium-color);
  }
}

/* Contact Page */
#contact-page {
  margin: 1rem 0;
  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    label {
      margin-bottom: 0.7rem;
      font-size: 1.2rem;
    }

    textarea {
      height: 200px;
      max-height: 200px;
    }

    input.contact-input {
      height: 2rem;
    }
    .contact-input {
      width: 100%;
      max-width: 600px;
      margin-bottom: 1rem;
      border: 1px solid var(--secondary-accent-color);
      border-radius: 3px;

      &:focus {
        outline: 2px solid var(--secondary-accent-color);
      }
    }

    input[type='submit'] {
      padding: 0.7rem 1rem;
    }
  }
}

/* Canvas Pages */

.react-p5 {
  display: flex;
  justify-content: space-between;

  canvas {
    width: 70% !important;
    height: 100% !important;
  }

  .sketch-control {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    padding: 1rem;
    margin-left: 1rem;

    button {
      margin-bottom: 1rem;
    }

    .sketch-input-container {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 1000px) {
  /* main navigation mobile */
  nav.main-nav ul {
    flex-direction: column;

    li {
      margin-left: 2rem;

      .change-theme {
        margin-top: 0.3rem;
        cursor: pointer;
      }

      a {
        font-size: 1.3rem;
        color: var(--primary-text-color);
        border-radius: 5px;
        padding: 0.3rem 0.9rem;
        transition: 0.2s;

        &:hover {
          background-color: var(--medium-color);
        }

        &.active {
          color: var(--primary-color);
          background-color: var(--medium-color);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .react-p5 {
    flex-direction: column;
    canvas {
      width: 100% !important;
    }
    .sketch-control {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
