.container {
  max-width: 1150px;
  padding: 0 2rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: 0.2s;
  font-size: 1.1rem;
}

.btn:hover {
  background: var(--secondary-color);
}

.btn-inverse {
  background: var(--dark-color);
  color: var(--primary-color);
}

.btn-block {
  display: block;
}
